<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
      　<u1 class="nav-list">
    　     <li class="nav-list-item">
    　       <h1>ながのCAKE</h1>
      　     <a href="about.html">about</a>
            <a href="about.html">商品一覧</a>
            <a href="about.html">新規登録</a>
            <a href="about.html">ログイン</a>
  　       </li>
  　     </u1>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
